<section class="about">
  <h3>About</h3>
  <p>This page is intended for a project in the course BB2491 - Analysis of Data from High-throughput Molecular Biology Experiments" at KTH. The aim of the project is to assemble the genome of <i>Phytophtora andina</i>, a water mould species belonging to a group of Eukaryotic microorganisms called Oomycetes. The assembled genome is then going to be used to identify and analyze chitin synthase genes, encoding chitin synthases that are used by the organism to build up its cell walls. 
  </p>
</section>
