---
---
$header-bg-color: #dd77ff;
$header-bg-color-secondary: #fdff83;

$section-headings-color: #4a4a4a;

@import "{{ site.theme }}";

a {
  color: #4a4a4a;
}

.project-name {
  a {
    color: white;

    &:hover {
      text-decoration: none;
    }
  }
}

.project-tagline {
  opacity: 1;
}

nav {
  position: absolute;
  text-align: right; 
  width: 20rem;
  padding: 20px;

  ul {
    padding: 0px;
    list-style-type: none;
  }
}

p.meta {
  font-size: 12px;
}

section.about {
  position: absolute;
  right: 0;
  width: 20rem;
  padding: 20px;
}

section.main-content {
  max-width: 50rem;
}

@media screen and (max-width: 1024px) {
  section.about, nav {
    display: none;
  }
}

.image-wrapper {
  text-align: center;

  .image-caption {
    color: #999;
    margin-top: 2px;
  }
}